.footer{
  text-align: center;
  padding: 1em;
  z-index: 10;
}
.personal__info__a{
  color: var(--red);
}
@media (  min-width: 950px) {
  .footer{
    border-top: 1px solid var(--gray);
    margin-top: 1em;
    z-index: 20;
  }
}